.ClickAnalyticsTextBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;
    font-size: 200%;
}

.ClickAnalyticsAddInformation {
    color : gray;
    font-size: 50%;
    align-self: baseline;
}

.ClickAnalyticsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.AnalyticsTitle {
    font-size: 300%;
    margin-left: 20px;
    text-decoration: bold;
}

.ClickAnalyticsColumnBox {
    display: flex;
    flex-direction: rown;
}