.BannerConstructorDrop {
    width: 100%;
    height: 150px;
    /* border-radius: 3%; */
    border-radius: 4px;
    /* box-sizing: border-box; */
    background-color: red;  
}

.BannerConstructor {
    width: 650px;
    /* height: 350px; */
    height: 250px;
    display: flex;
    float: left;
    justify-content: space-between;
    flex-direction: column;
}

.BannerConstructorContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.BannerConstructorInputs {
    width: 100%;
}

.BannerConstructorDomensInput {
    flex-shrink: 2;
}

.BannerConstructorDomainsInputSelect {
    width: 100%;
    float: left;
}

.BannerConstructorUrlInputSelect {
    width: 100%;
    float: right;
}

.BannerConstructorUploadButton {
    border-radius: 4px;
    width: 250px;
    height: 100px;
    background-color: yellowgreen;
}
