.BannerConstructorDrop {
    width: 100%;
    height: 50px;
    background-color: red;  
}

.BannerConstructor {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.BannerConstructorInputs {
    width: 100%;
}

.BannerConstructorDomensInput {
    flex-shrink: 2;
}

.BannerConstructorDomainsInputSelect {
    width: 60%;
}