.Constructor {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
}

.ConstructorField {
    overflow-y: auto;
    width: 80%;
    max-height: inherit;
}

.ConstructorComponents {
    overflow-y: auto;
    padding-top: 10px;
    display: flex;
    width: 20%;
    max-height: inherit;
    flex-direction: column;
}

.ConstructorCell {
    border : 1px solid gray;
    width : 38px;
    height: 38px;
    background-color: transparent;
}

.ConstructorFieldColumn {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.ConstructorFieldRow {
    display: flex;
    flex-direction: row;
}

.ConstructorComponentsElement {
    position: relative;
    width: 100%;
    height: 200px;
}

.ConstructorComponentsElementTitle {
    color: transparent;
    width: 80%;
    height: 100%;
    position: absolute;
    background-color: transparent;
}

.ConstructorComponentsElementTitle:hover {
    color: black;
    background-color: rgb(0, 0, 0, 0.37);
}

.ConstructorComponentsElementExample {
    width: 80%;
    position: absolute;
    height: 200px;
}

/* .ConstructorCellCircle {
    width: 10px;
    height: 10px;
    top : 30px;
    background-color: white;
} */

/* .ConstructorCellBorder {
    width: 38px;
    height: 38px;
    border: 1px solid rgb(255, 255, 255, 125);
    left: 20px;
    top: 20px;
} */