.Circle {
    border-radius: 50%;
}

.UserHeader {
    width: 60px;
    height: 60px;
}

.Center {
    text-align : center;
}

.Shadow {
    z-index: -1;
    background-color : rgb(128, 128, 128, 128);
}

.Shadow-text {
    z-index: -1;
    color: rgb(128, 128, 128, 128);
}